.btn-outline-dark.focus, .btn-outline-dark:focus, .btn.focus, .btn:focus {
    box-shadow: none !important;
}

.pagination {
    display: flex;
    justify-content: flex-end;
}

.pagination__button {
    margin: 1% .2%;
}

.pagination__button-active, .pagination__button-active:focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5) !important;
}

.pagination__text {
    text-align: start;
    margin: 2% 1% 1% 1%;
}